.meetVideoContainer{
  position: relative;
  height: 100vh;
  background-color: rgb(3,7,61);

}
.meetUserVideo{
  position: absolute;
  bottom:10vh;
  height:20vh;
  width: auto;
  right: 0;
  border-radius: 20px;
}

.buttonContainer{

}

.buttonContainer  svg{
  font-size: 3rem;

}
.conferenceView{
  display: flex;
  padding: 10px;
  gap: 10px;
}

.conferenceView  video{
  width: 40vw;
  height: 20vh;
  min-width: 30vw;
  border-radius: 10px;
}